* {
    margin: 0;
}

.master {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 5px;
    max-width: 100vw;
}

.left {
    padding: 1rem;
}

.story-section {
    min-height: 100vh; /* Forces each act to be a full screen tall */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20vh;
    margin: 10px;
}

.right {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

@media screen and (max-width: 768px) {
    .master {
        display: flex;
        flex-direction: column;
    }

    .right {
        order: 1;
        height: 45vh;
        top: 0;
        z-index: 1;
    }

    .left {
        order: 2;
        z-index: 10;
        padding: 0;
    }

    .story-section {
        background-color: rgba(255, 255, 255, 0.95);
        margin: 0;
        padding: 2rem 1rem;
        min-height: 80vh;
        justify-content: center;
        margin-bottom: 50vh;
        border-radius: 10px;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    }
}